<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
</head>
<body>
  <div class='container'>
        <h1>Student List</h1>

        {% if students is not empty %}
            <p>Here are all the students:</p>
            <ul>
                {% for student in students %}
                <li><a href="/students/{{ student.getId }}">{{ student.getName }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        <form action='/students' method='post'>
            <label for='name'>Student Name</label>
            <input id='name' name='name' type='text'>
            <label for='start_date'>Admission Date</label>
           <input id='start_date' name='start_date' type='text'>

            <button type='submit' class='btn-success'>Add Student</button>
        </form>
        <form action='/delete_students' method='post'>
            <button type='submit' class='btn-danger'>Clear</button>
        </form>

        <p><a href='/'>Home</a></p>
    </div>
</body>
